@using blazorapp.DynamicForm
@using System.Dynamic

@switch (Component.Control)
{
    case "Textbox":
    {
        <InputText id="@Component.Name" @bind-value="@GetBind()" />
        break;
    }

    default:
    {
        <span>Hello</span>
        break;
    }
}

@code {
    [Parameter]
    public IFormComponent Component { get; set; }
    
    [Parameter]
    public string Model { get; set;}

    public string GetBind()
    {
        return $"{Model}.{Component.Name}";
    }
}