@page "/"
@using blazorapp.DynamicForm.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<DynamicForm
    FormDefinition="sample-data/simple-form.json"
    Title="Test form"
    @bind-Model="model"
    />

Value is: @model

@code
{
    public Model model = new Model();
    
    public class Model
    {
        public string Test1 { get; set; } = "";
        public string Test2 { get; set; } = "";
        public string Test3 { get; set; } = "";
        public string Test4 { get; set; } = "";

        public override string ToString()
        {
            return $"{{\n\t{{Test1: {Test1}}}, " +
                   $"\n\t{{Test2: {Test2}}}, " +
                   $"\n\t{{Test3: {Test3}}}" +
                   $"\n\t{{Test4: {Test4}}}" +
                $"\n}}";
        }
    }
}
