@page "/"
@using blazorapp.DynamicForm.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<DynamicForm
    FormDefinition="sample-data/simple-form.json"
    Title="Test form"
    @bind-Model="model"
    />

Value is: @model

@code
{
    public Model model = new Model();
    
    public class Model
    {
        public string Test1 { get; set; } = "Hello, ";
        public string Test2 { get; set; } = "World!";
        public string Test3 { get; set; } = "Two";

        public override string ToString()
        {
            return $"{{Test1: {Test1}}}, {{Test2: {Test2}}}, {{Test3: {Test3}}}";
        }
    }
}
